* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

:root {
    /* desktop */
    --fonte-titulo: normal 400 3.5rem/3.5rem "Luckiest Guy", cursive;
    --fonte-subtitulo: normal 800 2.5rem/2.5rem "Open-sans", sans-serif;
    --fonte-texto: normal 400 1rem/1.2rem "Open-sans", sans-serif;

    /* mobile */

     --fonte-tituloM: normal 400 2rem/2rem "Luckiest Guy", cursive;
    --fonte-subtituloM: normal 800 1.5rem/1.5rem "Open-sans", sans-serif;
    --fonte-textoM: normal 400 1rem/1rem "Open-sans", sans-serif;




    --cor-de-fundo-primaria: #FFF;
    --cor-de-fundo-secundaria: #F6F6F6;
    --cor-de-fundo-terciaria: #23272A;
    --cor-botao-claro: #FFF;
    --cor-botao-escuro: #23272A;
    --cor-texto-claro: #FFF;
    --cor-texto-escuro: #23272A;
}

.titulo {
    font: var(--fonte-tituloM);
    color: var(--cor-texto-claro);
    text-align: center;
}

.texto-header {
    font: var(--fonte-textoM);
    color: var(--cor-texto-claro);
    text-align: center;
}

.titulo-main {
    font: var(--fonte-subtituloM);
    color: var(--cor-texto-escuro);
    text-align: center;
}   

.titulo-main-G {
        font: var(--fonte-tituloM);
        color: var(--cor-texto-escuro);
        text-align: center;

}

.texto-main {
    font: var(--fonte-textoM);
    color: var(--cor-de-fundo-terciaria);
    text-align: center;
}

.page {
    margin: auto;
    width: 100%;
}