header {
    background-color: black;
    background-image: url("../imgs/Header-Background.svg");
    background-size: cover;
    background-position: center;

    .info-header {
        display: flex;
        flex-direction: column;

        padding: 70px 24px;
    
        gap: 1.5rem;

        h1 {
            width: 200px;
        }

        .buttons{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            button {
                border: none;
                border-radius: 28px;
                padding: 1rem 1.5rem;
                cursor: pointer;
            }

           
            button:first-child {
            background-color: var(--cor-botao-claro);
            color: var(--cor-texto-escuro);
            font: var( --fonte-textoM);
            }

            button:last-child {

            font: var( --fonte-textoM);
            color: var(--cor-de-fundo-primaria);
            background-color: var(--cor-botao-escuro);

            }
        }  
    }
}

@media screen and (min-width: 400px) {

     header {
        .info-header {
            align-items: center;
            padding: 69px 80px;

            h1 {
                width: 200px;
                text-align: center;
       }
     }
  }
}


@media screen and (min-width: 600px) {
    header {
        .info-header {
            align-items: center;
            padding: 69px 80px;

            h1 {
                width: 400px;
                font: var(--fonte-titulo);
                text-align: center;
            }

            p {
                font: var(--fonte-texto);
                text-align: center;
                max-width: 750px;
            }

            .buttons {
                flex-direction: row;
                gap: 1.5rem;

                button {
                padding: 1rem 1rem;

                }
            }
        }
    }   
}