main {


    > :nth-child(even) {
        background-color: var(--cor-de-fundo-secundaria);
    }

    section {

        padding: 40px 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 27px;

        .section-info {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            
        }



        & img {
            width: 100%;
        }
    }

}

@media screen and (min-width: 600px) {
    main {

   



        section {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            padding: 40px 80px;

            & img {
                width: 50%;
            }
        }

        .section-info {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            max-width:348px;
            
            h2,p {
                text-align: left;
            }

            
         

           
        }

            > :nth-child(2) {
        display: flex;
        flex-direction: row-reverse;

        
        }
       
        

       > :nth-child(4) {
            display: flex;
            flex-direction: column;
            align-items: center; 
            .section-info {
                max-width: 800px; 
                width: 100%;    
                display: flex;
                flex-direction: column;
                align-items: center; 
            }

            h2 {
                width: 400px;
                text-align: center;
                margin: 0 auto;
            }

            p {
                width: 100%;     
                max-width: 600px; 
                margin: 0 auto;   
                text-align: center; 
            }
        }
    }
}


@media screen and (min-width: 1000px) {
   main{
        
    section{

            .section-info {
                
                h2{
                  font-size: 40px;
                  line-height: 3rem;
                }

                p {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }

    }
}


footer {
    display: flex;
    background-color: var(--cor-de-fundo-terciaria);
    color: var(--cor-texto-claro);
    font: var(--fonte-textoM);
    height: 140px;
    text-align: center;
    justify-content: center;
    padding: 1rem;

    img {
        width: 162px;
    }
}